.img{
    background-image: url("https://cdn.freelance.ru/img/portfolio/pics/00/30/F6/3208801.jpg?mt=87e0d011");
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 400px;
}